<%- include('header.ejs') %>

  <nav>
    <a href="/searchWODs">Search Workouts</a>
  </nav>

  <h1>WORKOUTS</h1>

  <ul>
    <% categories.forEach(function(category) { %>
      <li><a href="#" class="category-link" data-category="<%= category %>"><%= category %></a></li>
    <% }) %>
      <li><a href="#" id="showAll">Show All</a></li>
      <li><a href="#" id="showNone">Show None</a></li>
  </ul>
  
  <ul id="workoutList">
    <% workouts.forEach(function(workout) { %>
      <li class="workout-item" data-category="<%= workout.category %>">
        <a href="/workouts/<%= workout._id %>">
          <%= workout.name %>
        </a>
        <p><%= workout.description %></p>
      </li>
    <% }) %>
  </ul>
  
  <nav>
    <a href="/workouts/new">Add New Workout</a>
  </nav>


  <script src="/js/index.js"></script>

  <%- include('footer.ejs') %>

