<%- include('header.ejs') %>
  <h1>WORKOUTS</h1>
  <nav>
    <a href="/searchWODs">Search Workouts</a>
  </nav>
  <ul>
    <% for(let i = 0; i < workouts.length; i++){ %>
      <li>
        <a href="/workouts/<%=workouts[i].id%>">
          <%= workouts[i].name %>
        </a>
        <p><%=workouts[i].description %></p>
      </li>
    <% } %>
  </ul>

  <nav>
    <a href="/workouts/new">Add New Workout</a>
  </nav>
  <%- include('footer.ejs') %>

