<%- include('header.ejs') %>
  <h1><%=workout.name%></h1><br/>
  <p><%=workout.description%></p><br/>
  <p><%=workout.duration%></p>
  <button id="favorite" title="add to favorites" data-workout-id="<%= workout.id %>">&#9733;</button>
  <nav>
    <a href="/workouts/<%=workout.id%>/edit">Edit</a>
    <form action="/workouts/<%= workout.id%>?_method=DELETE" method="POST">
      <input class="button" type="submit" value="Delete">
    </form>
  </nav>
  <nav>
    <!-- change this so i can add scores -->
    <a href="/workouts/addScore">Add Score</a>
    <!-- change this so i can view scores -->
    <a href="/workouts/scores">View Scores</a>
  </nav>

  <script src="/js/show.js"></script>
  <%- include('footer.ejs') %>