<%- include('header.ejs') %>
<h1><%=workout.name%></h1>
<p><%=workout.description%></p>
<p><%=workout.duration%></p>
<button class="shake" id="favorite" title="add to favorites" data-workout-id="<%= workout.id %>">&#9733; Favorite</button>
<br>
<br>
<a class="nonButtons" href="/workouts/<%=workout.id%>/edit">Edit</a>
<br>
<br>
<form action="/workouts/<%= workout.id%>?_method=DELETE" method="POST">
  <input class="button" type="submit" value="Delete">
</form>

<br>
<nav>
  <form action="/workouts/<%= workout.id %>/addScore" method="POST" id="addScoreForm">
    <input class="score" type="text" name="score" placeholder="Enter score" required>
    <input class="score" type="date" name="date" placeholder="Enter date" required>
    <button type="submit">Add Score</button>
  </form>
  <br>
  <a class="nonButtons" href="/workouts/<%= workout.id %>/scores">View Scores</a>
</nav>

<script src="/js/show.js"></script>
<%- include('footer.ejs') %>