<%- include('header.ejs') %>

<h1>Workout of the Day (WOD)</h1>

<div class="container WOD">
    <h2 class="WODName"><%= workout.name %></h2>
    <p><%= workout.description %></p>
    <p><%= workout.duration %></p>
    <p>Category: <%= workout.category %></p>
</div>

<a href="/workouts/WOD" class="nonButtons random">Generate Random Workout</a>

<%- include('footer.ejs') %>